* {
	text-align: center;
}

body {

	background : #333;
	color : #eee;
	height  :100vh;
}
.flex-centered{
	display: flex;
	flex-direction : column;
	align-items: center;
	justify-content : center;
}
.heading {
	font-family: Arial;
}

.URL-input,
.convert-button {
	font-size: 1.3em;
	padding: 5px 10px;
}

.URL-input {
	border-radius: 4px;
	width: 30em;
	text-align: left;
	border: 2px solid #ddd;
	background: #eeeeee;
	color : #333;
	outline: none;
}

.URL-input:focus {
	border: 2px solid #0485ff;
}

.convert-button {
	margin: 20px auto;
	border: 4px solid #0485ff;
	background: #016acc;
	color: #eee;
	transition: all 0.25s;
	border-radius: 4px;
}

.convert-button:hover {
	/* background: #0485ff; */
	transform: scale(1.05);
	cursor: pointer;
}
.opt {
	width: auto;;
	margin: 20px auto;
	padding: 4px;
	border-radius: 4px;
}
@media only screen and (max-width: 600px) {
	body {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
	}

	.URL-input {
		margin: auto;
		width: 100%;
	}

	.convert-button {
		margin: 7% auto;
		width: 100%;
	}
}

